.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 100%;
  padding: 3%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'copperplate';
  color: black;
  font-size: 4rem;
}

.description{
  font-size: 3rem;
  font-family: 'Inter';
}

.menus-container {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-template-rows: 15vh 15vh;
  column-gap: 10vw;
  row-gap: 10vh;
  margin: 15%;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.selected-menu{
  border: 3px solid red;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.select-btn {
  width: 100%;
  font-size: 32px;
  background-color: grey;
  border: none;
  cursor: pointer;
  border-radius: 64px;
}
