.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ingredients-header, .fruits-header, .taste-header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FDE588;
  font-size: 2rem;
  font-family: "Inter";
  padding: 0 1.5rem;
  border-radius: 32px;
}

.option-btn{
  background-color: transparent;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 0;
}

.ingredients{
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw;
  grid-template-rows: 10vh;
  column-gap: 10vw;
}

.fruits{
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw;
  grid-template-rows: 10vh 10vh;
  column-gap: 10vw;
  row-gap: 5vh;
}

.taste{
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw;
  grid-template-rows: 10vh;
  column-gap: 10vw;
}

.select-btn {
  width: 100%;
  font-size: 32px;
  background-color: grey;
  border: none;
  cursor: pointer;
  border-radius: 64px;
}