.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.result-container {
  width: 80%;
  height: 40%;
  border: 1px solid #000;
  font-size: 24px;
  background-color: #D9D9D9;
}

.choices{
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5%;
}

.choice{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question{
  font-size: 32px;
  text-align: center;
}