.page-container {
  background-image: url("../assets/backgrounds/start_background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-btn{
  margin: 80% 0 0 0;
}

.finger-img{
  margin: -10% 0 0 10%;
  pointer-events: none;
}