.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 100%;
  padding: 3%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'copperplate';
  color: black;
  font-size: 4rem;
}

.description{
  font-size: 3rem;
  font-family: 'Inter';
}

.temperature-container{
  width: 50%;
  height: 50%;
  background-image: url('../assets/temperature.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20% 15% 20% 0;
}