.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 100%;
  padding: 3%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "copperplate";
  color: black;
  font-size: 4rem;
}

.description {
  font-size: 3rem;
  font-family: "Inter";
}

.temperature-container {
  width: 50vw;
  height: 60vh;
  background-image: url("../assets/images/temperature.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 20% 0 0;
  display: flex;
  flex-direction: column;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 55%;
  margin: 15% 0 0 68%;
  width: 10%;
}

.temperature-btn {
  background-color: transparent;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 0;
}

.select-btn {
  width: 100%;
  font-size: 32px;
  background-color: grey;
  border: none;
  cursor: pointer;
  border-radius: 64px;
}
